.add-good {
  padding-top: 12px;
  padding-bottom: 19px;

  @media (min-width: $tablet) {
    padding: 27px 38px 26px;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    padding: 13px 0 16px;
  }
}

.add-good__title {
  margin: 0 0 13px 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $card-title;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-bottom: 27px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin-top: 11px;
    margin-right: 0;
    margin-bottom: 7px;
  }
}

.add-good__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 15px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
  color: $text-main;

  @media (min-width: $tablet) {
    width: auto;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 288px;
    margin-top: 11px;
    margin-bottom: 7px;
  }
}

.add-good__property {
  @media (min-width: $tablet) {
    margin-right: 49px;

    &--water {
      margin-right: 59px;
    }
  }
}

.add-good__value {
  margin: 0;
}

.add-good__wrapper {
  display: flex;
  align-items: baseline;

  @media (min-width: $desktop) {
    justify-content: space-between;
    min-width: 613px;
    margin-right: 38px;
  }
}

.add-good__button {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    line-height: 18px;
  }
}
