.card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 25px;

  &--show-more {
    .card__title {
      width: 204px;
      margin: 78px 37px 8px 39px;
    }

    .card__button {
      color: $text-main;
      background-color: $special-btn;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: center;
    padding: 0 36px 40px;

    background-color: $back;

    &--show-more {
      background-color: $text-promo;
      border: 2px solid $back;

      .card__title {
        width: 134px;
        margin: 161px 57px 23px;
      }
    }
  }

  @media (min-width: $desktop) {
    &--show-more {
      .card__title {
        margin: 167px 16px 26px;
        line-height: 25px;
      }
    }
  }
}

.card__title {
  width: 76px;
  margin: 0 0 18px 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $card-title;

  @media (min-width: $tablet) {
    width: 132px;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;

    text-align: center;
  }
}

.card__link {
  color: inherit;
}

.card__link-image {
  display: block;
  order: -1;

  @media (min-width: $tablet) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 46px;
  }
}

.card__image {
  display: block;
  order: -1;

  &--tablet {
    display: none;
  }

  @media (min-width: $tablet) {
    display: none;

    &--tablet {
      display: block;
      margin-top: -73px;
      order: -1;
    }
  }
}

.card__wrapper {
  width: 140px;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $text-main;

  &--desc {
    margin: 0 30px 21px 29px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;

    &--desc {
      width: 167px;
      margin: 0 0 87px 0;

      line-height: 18px;
      text-align: center;
    }
  }
}

.card__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet) {
    padding-top: 7px;
    padding-bottom: 9px;

    border-bottom: 1px solid $border;

    &:first-child {
      padding-top: 0;
    }
  }
  //
  //@media (min-width: $desktop) {
  //  width: 166px;
  //}
}

.card__value {
  margin: 0;
}

.card__button {
  margin-top: auto;

  font-size: 16px;
  line-height: 20px;
}
