.cards__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 141px;
    column-gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.cards__item {
  border-top: 1px solid $cards-border;

  &--more {
    order: 1;
  }

  &:last-child {
    border-bottom: 1px solid $cards-border;
  }

  @media (min-width: $tablet) {
    border: none;

    &:last-child {
      border: none;
    }
  }
}
