.example {
  position: relative;
  padding: 27px 0 35px;

  background-color: $dark-back;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 67px;
    background: linear-gradient(to top, $dark-back, $dark-back 462px, transparent, transparent 462px);
    border-top: 1px solid $special-border;
  }

  @media (min-width: $desktop) {
    padding-bottom: 70px;

    background:
      linear-gradient(to bottom, $white 195px, $transparent 195px),
      linear-gradient(to right, $back, $back calc(50% + 324px), $dark-back calc(50% + 324px));
    border-top: none;
  }
}

.example__container {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.example__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    column-gap: 134px;
  }
}

.example__box {
  @media (min-width: $desktop) {
    margin-right: 214px;
  }
}

.example__title {
  min-width: 280px;
  margin: 0 0 35px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;

  @media (min-width: $tablet) {
    margin-top: 43px;
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    grid-row: 1/2;
    grid-column: 1/2;

    margin-top: 61px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0 0 25px 0;

  font-size: 14px;
  line-height: 18px;
  color: $text-main;

  @media (min-width: $tablet) {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    grid-row: 2/3;
    grid-column: 1/2;

    width: 436px;
    margin-bottom: 69px;
  }
}

.example__table {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 42px 0;

  @media (min-width: $tablet) {
    margin-bottom: 86px;
  }

  @media (min-width: $desktop) {
    grid-row: 3/4;
    grid-column: 1/2;

    margin-bottom: 0;
  }
}

.example__inner {
  position: relative;

  display: flex;
  justify-content: center;

  width: 124px;
  margin: 0 31px 32px 0;
  padding: 15px 0 16px 0;

  border: 1px solid $border;
  border-radius: 3px;

  &--slim {
    margin-left: auto;
  }

  &--days {
    margin-right: auto;
  }

  &--cost {
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    width: auto;
    margin: 0 auto;
    padding: 0;

    border: none;
  }

  @media (min-width: $tablet) {
    width: 162px;
    margin-right: 42px;
    margin-bottom: 0;

    &--slim {
      margin-left: 0;
    }

    &--days {
      margin-right: auto;
    }

    &--cost {
      display: block;
      align-self: flex-start;
      width: auto;
      margin: 11px 0 0 0;
    }
  }

  @media (min-width: $desktop) {
    &--slim {
      margin-left: 0;
      padding-bottom: 19px;
    }

    &--cost {
      display: flex;
      flex-wrap: wrap;
      margin-top: 57px;
      margin-bottom: 5px;
      margin-left: 0;
    }
  }
}

.example__property {
  font-size: 12px;
  line-height: 12px;
  color: $text-main;

  &--cost {
    padding-right: 5px;

    color: $text-dark;
  }

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;

    &--cost {
      margin-bottom: 9px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (min-width: $desktop) {
    &--cost {
      margin-bottom: 0;
      padding-right: 63px;
    }
  }
}

.example__property--slim,
.example__property--time {
  position: absolute;
  top: 47px;

  display: flex;
  flex-wrap: wrap;
  text-align: center;

  width: 87px;
  height: 28px;
  margin: 0 auto;
  padding: 0 17px 0 15px;

  text-transform: lowercase;

  background-color: $dark-back;

  @media (min-width: $tablet) {
    top: 68px;

    width: auto;
    padding: 0 9px;

    background-color: $white;
  }

  @media (min-width: $desktop) {
    top: 63px;

    background-color: $back;
  }
}

.example__value {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__property--cost,
.example__value--cost {
  font-size: 14px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    text-align: end;
  }
}
