.features {
  padding-bottom: 42px;

  @media (min-width: $tablet) {
    padding-bottom: 59px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 11px;
    border: none;
  }
}

.features__title {
  margin: 0 0 38px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $oswald;

  @media (min-width: $tablet) {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  @include list-reset;

  font-size: 14px;
  line-height: 18px;
  color: $text-main;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 90px;
    column-gap: 121px;

    margin-right: 61px;

    font-size: 16px;
    line-height: 24px;

    counter-reset: numbers;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 11px;
    column-gap: 78px;

    margin-right: 0;
  }
}

.features__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
  margin: 0 0 20px 0;

  background-repeat: no-repeat;
  background-position: 90% 100%;
  background-size: contain;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;

    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--water {
    &::before {
      background-image: url("../img/water.svg");
    }
  }

  &--eat {
    &::before {
      background-image: url("../img/eat.svg");
    }
  }

  &--scales {
    &::before {
      background-image: url("../img/scales.svg");
    }
  }

  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
    margin: 0;
    padding: 0 0 44px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      top: -37px;
      right: 15px;

      display: block;
      z-index: -1;

      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;

      color: $back;

      counter-increment: numbers;
      content: counter(numbers);
    }

    &:first-child::after {
      right: 35px;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      right: 0;
    }

    &:first-child::after {
      right: 15px;
    }
  }
}
