.features__title {
  margin: 0 0 38px 0;

  @include special-text;
  font-size: 36px;
  line-height: 40px;
}

.features__list {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  color: $text-main;

  list-style: none;
}

.features__item {
  margin: 0 0 20px 80px;
}
