.form-control {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  width: 100%;
}

.form-control__label {
  margin-right: 13px;
}

.form-control__field {
  padding: 13px 40px 13px 16px;

  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-main;

  border: 1px solid $special-grey;
  outline: none;

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &::placeholder {
    color: $text-main;
  }

  &:hover {
    border-color: $border;
  }

  &:focus {
    border: 2px solid $text-main;
  }

  &--error {
    border: 2px solid $error;
  }

  &--text {
    grid-column: 1/-1;
    height: 150px;
    margin: 0;

    resize: none;
  }

  @media (min-width: $tablet) {
    padding: 10px 40px 11px 18px;

    font-size: 20px;
    line-height: 30px;

    &--tel {
      padding-right: 17px;
    }
  }

  @media (min-width: $desktop) {
    &--text {
      height: 174px;
    }
  }
}

.form-control__svg {
  position: absolute;
  top: 36%;
  right: 3%;

  width: 18px;
  height: 13px;

  background-color: $card-title;
  mask-image: url("../img/icon-email.svg");

  &--tel {
    right: 2%;

    width: 20px;
    height: 21px;

    mask-image: url("../img/icon-phone.svg");
  }
}

.form-control__field:focus + .form-control__svg {
  background-color: $main;
}

.form-control__field--error + .form-control__svg {
  background-color: $error;
}
