.form-control {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;

  &--owner {
    @media (min-width: $desktop) {
      margin-right: 71px;
    }
  }
}

.form-control__label {
  margin-right: 13px;
  margin-bottom: 4px;

  &--weight {
    margin-right: 16px;
  }

  @media (min-width: $tablet) {
    margin-right: 16px;

    &--weight {
      margin-right: 19px;
    }
  }
}

.form-control__field {
  padding: 12px 10px 14px 15px;

  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-main;

  border: 1px solid $special-grey;
  outline: none;

  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: $text-main;
  }

  &:hover {
    border-color: $border;
  }

  &:focus {
    border-color: $text-main;
    box-shadow: 0 0 0 1px $text-main;
  }

  &--error {
    border-color: $error;
    box-shadow: 0 0 0 1px $text-main;
  }

  &--text {
    grid-column: 1/-1;
    height: 150px;
    margin: 0;

    resize: none;
  }

  @media (min-width: $tablet) {
    padding: 12px 40px 10px 19px;

    font-size: 20px;
    line-height: 30px;

    &--tel {
      padding-right: 17px;
    }

    &--text {
      height: 174px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 9px;
    padding-right: 25px;

    &--text {
      height: 174px;
    }
  }
}

.form-control__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;

  width: 19px;
  height: 14px;

  background-color: $card-title;
  mask-image: url("../img/icon-email.svg");

  &--tel {
    width: 20px;
    height: 21px;

    mask-image: url("../img/icon-phone.svg");
  }

  @media (min-width: $desktop) {
    right: 23px;

    &--tel {
      right: 17px;
    }
  }
}

.form-control__field:focus + .form-control__svg {
  background-color: $main;
}

.form-control__field--error + .form-control__svg {
  background-color: $error;
}
