
.logo__image--mobile {
  display: block;
  margin-right: 55px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.logo__image--tablet {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-right: 12px;
  }

  @media (min-width: $desktop) {
    display: none;
    margin-right: 12px;
  }
}

.logo__image--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-right: 14px;
  }
}
