.offers {
  padding-bottom: 27px;

  @media (min-width: $tablet) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    padding-bottom: 71px;
  }
}
