.offers {
  padding-bottom: 27px;

  @media (min-width: $tablet) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 71px;
  }
}
