.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 31px 22px 20px;
  margin-bottom: 20px;
  background-color: $back;

  &--pro {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    padding: 77px 53px 55px;
    margin-bottom: 30px;

    &--pro {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    padding: 77px 51px 59px;
    margin-bottom: 0;

    &--pro {
      margin-right: 0;
    }
  }
}

.offer__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 29px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-dark;

  &::before {
    position: absolute;
    left: 22px;

    content: "";
    width: 50px;
    height: 53px;

    background-image: url("../img/offer-cat.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--pro {
    margin-bottom: 31px;

    &::before {
      left: 14px;

      width: 67px;
      height: 50px;

      background-image: url("../img/offer-cat-pro.svg");
    }
  }

  @media (min-width: $tablet) {
    padding-left: 0;
    margin-bottom: 24px;
    margin-left: 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 80px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 211px;
    }

    &--pro {
      margin-bottom: 26px;

      &::before {
        top: 92px;
        right: 27px;

        width: 268px;
        height: 200px;
      }
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    margin-left: 162px;

    &::before {
      top: 45px;
      left: 55px;

      width: 100px;
      height: 106px;
    }

    &--pro {
      &::before {
        left: 35px;

        width: 134px;
        height: 100px;
      }
    }
  }
}

.offer__description {
  display: block;
  padding: 0 0 23px 0;
  margin: 0 0 19px 0;

  font-size: 14px;
  line-height: 18px;
  color: $text-main;
  border-bottom: 1px solid $light-back;

  @media (min-width: $tablet) {
    max-width: calc(100% - 220px);
    padding: 0;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;

    &--pro {
      max-width: calc(100% - 258px);
    }
  }

  @media (min-width: $desktop) {
    max-width: none;
    margin-bottom: 27px;

    &--slim {
      margin-bottom: 27px;
    }
  }
}

.offer__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-dark;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    margin-left: 15px;

    background-image: url("../img/arrow.svg");
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      margin-left: 24px;
    }
  }
}
