.page-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0 16px 0;

  border-bottom: 1px solid $special-pink;
}

.page-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;
}

.page-header__logo-image {
  margin-right: 55px;
}
