.page-content {
  padding-top: 27px;
  //padding-bottom: 32px;
  font-family: $oswald;

  &--index {
    padding-top: 0;
    font-family: $arial;
  }
}

.page-content__title {
  margin: 0 0 37px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  &--catalog {
    margin-bottom: 41px;
  }
}

.page-content__description {
  margin: 0 0 39px 0;
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-content__gift {
  display: block;
  min-height: 289px;
  margin-top: 39px;
}

.page-content__text {
  margin: 0;
  padding: 186px 51px 43px 58px;

  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: $arial;
  color: $text-promo;

  background-color: $main;
  background-image: url("../img/gift-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
