.page-footer {
  background-color: $back;

  &--index {
    background-color: $white;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 19px;
}

.page-footer__cooperation {
  max-width: 125px;
  margin: 0 15px 0 0;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
}

.page-footer__address {
  max-width: 140px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $text-main;
}

.page-footer__map-image {
  display: flex;
  width: 100%;
  height: 362px;
}

.page-footer__contacts {
  background-color: $back;
}

.page-footer__logo {
  display: block;
  padding: 39px 0 37px 0;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 18px;
  color: $text-main;
}

.page-footer__element {
  border-top: 1px solid $special-pink;
  border-bottom: 1px solid $special-pink;
}
