.page-content {
  padding-top: 27px;
  font-family: $oswald;

  &--index {
    padding-top: 0;
    font-family: $arial;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
  }
}

.page-content__title {
  margin: 0 0 37px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  &--catalog {
    margin-bottom: 41px;
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;

    &--catalog {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop) {
    &--form {
      margin-bottom: 56px;
    }
  }
}

.page-content__description {
  margin: 0 0 39px 0;
  max-width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 323px;
    margin: 0 0 66px 0;

    font-size: 20px;
    line-height: 30px;
  }
}

.page-content__gift {
  display: block;
  min-height: 289px;
  margin-top: 39px;
}

.page-content__text {
  margin: 0;
  padding: 186px 51px 43px 58px;

  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: $arial;
  color: $text-promo;

  background-color: $main;
  background-image: url("../img/gift-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
