.page-header {
  position: relative;
  padding: 12px 0 0 0;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0 64px;
  }

  &--container {
    @media (min-width: $tablet) {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $desktop) {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 52px;
    padding-bottom: 107px;

    &--form {
      padding-bottom: 72px;
    }

    &--catalog {
      padding-bottom: 74px;
    }
  }
}

.page-header__wrapper {
  padding: 0 0 16px;
  border-bottom: 1px solid $special-pink;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}

.page-header__inner {
  display: flex;

  @media (min-width: $tablet) {
    padding-right: 0;
  }
}

.page-header__logo {
  display: flex;
  margin-right: auto;
}

.page-header__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__icon-menu {
  display: none;
}
