.primary-button {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 0;

  width: 100%;
  padding: 10px 35px;
  font-size: 14px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-promo;

  background-color: $main;
  border: none;

  @media (min-width: $tablet) {
    &--promo-tablet {
      padding: 14px 26px;
      font-size: 20px;
      line-height: 20px;
    }

    &--form-btn {
      padding: 14px 45px;

      font-size: 20px;
      line-height: 0;
    }
  }
}
