.primary-button {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 0;

  width: 100%;
  padding: 11px 35px;
  font-size: 14px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $text-promo;

  background-color: $main;
  border: none;

  &:hover {
    background-color: $main-special;
  }

  &:active {
    color: $text-promo03;
  }

  @media (min-width: $tablet) {
    &--promo {
      padding: 17px 26px;

      font-size: 20px;
      line-height: 20px;
    }
  }
}
