.radio-button {
  padding-right: 15px;
  padding-left: 0;
}

.radio-button__label {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
  user-select: none;
}

.radio-button__input + .radio-button__label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;

  border: 1px solid $border;
  border-radius: 50%;
}

.radio-button__input:checked + .radio-button__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 13.5px;
  height: 13.5px;

  background-color: $main;
  border-radius: 50%;
}
