.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $desktop) {
    justify-content: flex-end;
  }
}

.slider__container {
  position: relative;

  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    width: 768px;
  }

  @media (min-width: $desktop) {
    width: 725px;
  }
}

.slider__box {
  &--before {
    position: absolute;
    bottom: 2px;
    left: 0;


    width: 100%;
    height: 240px;
    overflow: hidden;
    z-index: 1;

    background-image: none;
    background-color: $dark-back;

    @media (min-width: $tablet) {
      bottom: -5px;
      left: 60px;

      width: 45%;
      height: 520px;
      background-image: linear-gradient(to top, $dark-back, $dark-back $gradient-offset, $text-promo, $text-promo $gradient-offset);
    }

    @media (min-width: $desktop) {
      bottom: 10px;
      left: 75px;

      width: 50%;

      background-image: linear-gradient(to top, $back, $back $gradient-offset-desk, $text-promo, $text-promo $gradient-offset-desk);
    }
  }
}

.slider__img {
  max-width: none;

  display: block;


  width: 311px;
  height: auto;

  &--after {
    width: 251px;
  }

  @media (min-width: $tablet) {
    &--before {
      width: 677px;
      height: auto;
    }

    &--after {
      width: 545px;
      margin-left: 80px;
    }
  }

  @media (min-width: $desktop) {
    &--before {
      margin: 0;
    }

    &--after {
      margin-left: 178px;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.slider__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;

  margin-top: 24px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin-top: 9px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-end;
  }
}

.slider__button {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &--before {
    margin-right: 18px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted $text-dark024;

    &:hover {
      border-bottom: 1px solid $text-dark04;
    }
  }

  @media (min-width: $desktop) {
    &--before {
      margin-right: 27px;
    }
  }
}

.slider__scale {
  position: relative;

  display: block;
  width: 84px;
  height: 14px;
  margin-right: 18px;
  padding: 3px 3px 4px;

  color: $main;

  background-color: $white;
  border: 1px solid $border;
  border-radius: 6px;

  @media (min-width: $tablet) {
    width: 428px;
    height: 6px;

    background-color: $basic-lightgrey;
    border: none;
    border-radius: 6px;
  }
}

.slider__thumb {
  width: 50%;
  height: 6px;

  background-color: $main;
  border-radius: 6px;

  @media (min-width: $tablet) {
    position: absolute;
    top: -15px;
    left: 50%;

    width: 8px;
    height: 8px;
    padding: 0;

    border: 13px solid $white;
    background-color: $main;
    border-radius: 50%;
    box-shadow:
      0 0 3px $text-dark016,
      0 1px 3px $text-dark016;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      box-shadow:
        0 0 0 1px $main,
        0 2px 4px $text-dark019;
    }

    &:active {
      box-shadow:
        0 0 0 1px $text-dark016,
        0 2px 4px $text-dark019;
    }
  }

  @media (min-width: $desktop) {
    top: -14px;
    left: 45%;
  }
}
