.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 17px;

  border-top: 1px solid $special-pink;
  border-bottom: 1px solid $special-pink;

  @media (min-width: $tablet) {
    border: none;
  }
}

.socials__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 27px;
  }
}

.socials__link:hover > .socials__svg path {
  fill: $main;
}

.socials__link:hover > .socials__svg--facebook path {
  fill: none;
  stroke: $main;
}

.socials__link:active > .socials__svg path,
.socials__link:active > .socials__svg--facebook path {
  opacity: 0.3;
}
