.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 17px;

  border-top: 1px solid $special-pink;
  border-bottom: 1px solid $special-pink;

  @media (min-width: $tablet) {
    border: none;
  }
}

.socials__item {
  margin-right: calc(5px + 10vw);

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: calc(4px + 3vw);
  }
}

.socials__link {
  color: $social-icon;

  &:hover {
    color: $main;
  }

  &:active {
    color: $main;
  }
}
