.container {
  max-width: 540px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;

    &--form {
      padding-left: 70px;
      padding-right: 67px;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
  }


  &--reset {
    @media (min-width: $tablet) {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--reset-form {
    @media (min-width: $desktop) {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
