@mixin primary-text {
  font: {
   family: Arial, sans-serif;
   style: normal;
   weight: normal;
 }
}

@mixin special-text {
   font: {
    family: Oswald, Arial, sans-serif;
    style: normal;
    weight: normal;
 }
}

@mixin special-text-medium {
  font: {
   family: Oswald, Arial, sans-serif;
   style: normal;
   weight: 500;
 }
}
