$basic-green: #68b738;
$basic-grey: #f2f2f2;
$pinkgrey: #ebebeb;
$lightgrey: #cdcdcd;
$grey: #666666;
$browngrey: #444444;
$darkgrey: #222222;
$special-grey: #e7e7e7;
$salmon: #ff8282;
$special-green: #5eaa2f;
$special-pink: #e6e6e6;
$white: #ffffff;
$black: #000000;
$special-lightgrey: #d9d9d9;
$beige: #eaeaea;
$green: #63a63c;


$text-main: $browngrey;
$text-promo: $white;
$text-dark: $black;
$main: $basic-green;
$main-special: $special-green;
$light-back: $special-lightgrey;
$dark-back: $beige;
$back: $basic-grey;
$error: $salmon;
$border: $lightgrey;
$form-field: $special-grey;
$back-green: $green;
$cards-border: $pinkgrey;
$card-title: $darkgrey;
$special-btn: $basic-grey;

//text
$arial: "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;
